h1 {
    color: deeppink;
}

h2 {
    font-size: 300%;
}

form {
   line-height: 2;
}

.content {
    display: table;
    width: 1200px;
}

input[type=text] {
    display: inline-block;
    width: 800px;
    font-size: 200%;
    padding: 0.5em;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
}

.expander {display: none;}
.expander-label {
    display:block;
}
.expander-content {
    visibility: hidden;
}
.expander:checked + .expander-label + .expander-content {
    visibility: visible;
}
